<div class="section profile-container flex-row align-content-center">
    <h2 class="text-right align-content-center">About Me</h2>
    <div class="profile align-content-center">
        <h4>Hello! <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h4>
        <p>I'm Raúl, a recent Information Systems Engineering graduate, based in Hermosillo, Sonora, MX <i
                class="fa fa-map-marker" aria-hidden="true"></i>. Always looking to learn and
            grow, I'm ready to contribute to building of reliable and innovative software solutions.</p>
        <p>During university, I mainly worked with <b><i>Python</i></b>, <b><i>PostgreSQL</i></b> and
            <b><i>Flask</i></b>. Most recently, I delved into Android mobile development making use of
            <b><i>Kotlin</i></b> + <b><i>Jetpack Compose</i></b>, and have been studying up on <b><i>Angular</i></b>
            development.
        </p>
        <p>Other than software engineering, I have a great love for films, football (or soccer, depending on where
            you're from), a good cup of coffee, and studying Japanese.</p>
    </div>
</div>
<hr>
<div class="section flex-row justify-space-between">
    <div class="education-container flex-column align-content-start">
        <h3>Education</h3>
        <p class="paragraph-title">B.S. in Information Systems Engineering</p>
        <p><a href="https://www.unison.mx"><b><i>University of Sonora</i></b></a> | 2019 - 2024</p>
        <p><b>GPA: </b>94.14/100</p>
        <p><b>Relevant courses: </b> Databases, Front-end development, Software QA, Interactive systems design, Data
            mining</p>
    </div>
    <div class="experience-container flex-column align-content-start">
        <h3>Experience</h3>
        <p class="paragraph-title">Mobile Developer Intern</p>
        <p><a href="https://totalcargps.com"><b><i>TotalCarGPS</i></b></a> | april 2024 - july 2024</p>
        <p>UX/UI and architectural design, development and testing of a geolocation mobile app for tracking and
            management of GPS devices</p>
    </div>
</div>
<hr>
<div class="section">
    <h3>Projects</h3>
    <div class="grid">
        <div class="card card-border">
            <h4>Portfolio Website</h4>
            <p>Personal website to showcase my work and experience. Built with Angular and hosted using GitHub pages.
            </p>
            <a href="https://github.com/rssv384/portfolio-website" target="_blank" class="card-link"></a>
        </div>
    </div>
</div>
<hr>
<div class="section">
    <h3>Skills</h3>
    <div class="flex-row justify-space-evenly align-content-center text-center">
        <div class="skills-container">
            <h4>Back-end</h4>
            <ul>
                <li class="proficient"><img src="assets/img/python-logo.png" alt="Python"></li>
                <li class="proficient"><img src="assets/img/java-logo.png" alt="Java"></li>
                <li class="basic"><img src="assets/img/csharp-logo.png" alt="C#"></li>
                <li class="basic"><img src="assets/img/kotlin-logo.png" alt="Kotlin"></li>
                <li class="proficient"><img src="assets/img/postgresql-logo.png" alt="PostgreSQL"></li>
                <li class="proficient"><img src="assets/img/mysql-logo.png" alt="MySQL"></li>
            </ul>
        </div>
        <div class="skills-container">
            <h4>Front-end</h4>
            <ul>
                <li class="proficient"><img src="assets/img/html-logo.png" alt="HTML5"></li>
                <li class="basic"><img src="assets/img/javascript-logo.png" alt="JavaScript"></li>
                <li class="learning"><img src="assets/img/typescript-logo.png" alt="TypeScript"></li>
                <li class="proficient"><img src="assets/img/css-logo.png" alt="CSS"></li>
                <li class="proficient"><img src="assets/img/sass-logo.png" alt="SASS"></li>
                <li class="learning"><img src="assets/img/angular-logo.png" alt="Angular"></li>
                <li class="proficient"><img src="assets/img/flask-logo.png" alt="Flask"></li>
                <li class="basic"><img src="assets/img/jetpack-compose-logo.png" alt="Jetpack Compose"></li>
            </ul>
        </div>
    </div>
    <div class="flex-row justify-center align-content-center text-center">
        <div class="skills-container">
            <h4>Tools</h4>
            <ul>
                <li class="proficient"><img src="assets/img/vscode-logo.png" alt="Visual Studio Code"></li>
                <li class="proficient"><img src="assets/img/git-logo.png" alt="Git"></li>
                <li class="proficient"><img src="assets/img/github-logo.png" alt="Github"></li>
            </ul>
        </div>
    </div>
    <div class="skill-level-annotation flex-row justify-space-evenly align-content-center text-center">
        <p><i class="fa fa-square proficient" aria-hidden="true"></i> Proficient</p>
        <p><i class="fa fa-square basic" aria-hidden="true"></i> Basic</p>
        <p><i class="fa fa-square learning" aria-hidden="true"></i> Learning</p>
    </div>
</div>