<header class="flex-row flex-space-between flex-items-center">

    <a routerLink="/home" routerLinkActive="active"><img src="assets/img/icon.png" alt="Raúl Soto"></a>


    <nav class="flex-row flex-center flex-items-center">
        <ul class="flex-row flex-center flex-items-center">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
            </li>

            <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>

</header>