<header class="flex-row justify-space-between align-content-center">

    <a routerLink="/home" routerLinkActive="active"><img src="assets/img/icon.png" alt="Raúl Soto"></a>


    <nav class="flex-row justify-center align-content-center">
        <ul class="flex-row justify-center align-content-center">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
            </li>

            <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>

</header>