<div class="flex-column justify-center align-content-center text-center">
    <div class="heading flex-column justify-center align-content-center text-center">
        <h2>Get in touch!</h2>
        <p>Thank you for checking out my portfolio! Feel free to send me a message on any of the following platforms:
        </p>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-front align-content-center">
                <img class="card-logo" src="assets/img/icon.png" alt="">
            </div>
            <div class="card-back flex-column justify-center text-center">
                <h2>Raúl Soto</h2>
                <h4>Information Systems Engineer / Software Developer</h4>
                <p>Hermosillo, Sonora, MX <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                <div class="contact-links flex-row justify-space-evenly">
                    <a href="https://github.com/rssv384" target="_blank"> <i class="fa fa-github-square"
                            aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/raulsebastian-sotovejar/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="mailto:rssotovejar@gmail.com" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>