@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Condensed&display=swap");

$background-color: #202020;
$primary-color: #f2eceb;
$secondary-color: #d9d1c7;

$title-font: "Barlow Condensed", serif;
$body-font: "Cantarell", sans-serif;

$header-height: 4rem;
$main-area-min-height: calc(100vh - $header-height);
