@import "../styles/variables";

footer {
  width: 95%;
  height: fit-content;
  margin: auto;
  padding-top: 1rem;
  border-top: thin solid $secondary-color;
}

.socials {
  gap: 2rem;

  .fa {
    font-size: 2rem;
    color: $primary-color;

    &:hover {
      color: darken($color: $secondary-color, $amount: 7);
    }
  }
}

.copyright {
  font-size: 0.9rem;
  margin: 1rem;

  p {
    margin: 0.5rem;
  }
}

a {
  color: darken($color: $secondary-color, $amount: 7);

  &:hover {
    color: $secondary-color;
  }
}
